* {
    padding: 0;
    margin: 0;
}

body,
html {
    min-height: 100%;
    height: 100vh;
    min-width: 100%;
    width: 100vw;
}

.h-40 {
    height: 40%;
}

#index-body {
    height: calc(100% - 15%);
}

.display-6 {
    font-size: 2em;
}


/* Media query */

@media (min-width: 768px) {
    .h-md-100 {
        height: 100vh;
    }
}